.sxtpm-project .messages {
    margin-left: 10px;
}
.sxtpm-project .xtpm-section {
    margin: 12px 6px 6px 0;
    font-size: 16px;
    font-weight: bold;
}
.sxtpm-project .xtsi-embed-node {
    margin-top: 6px;
}
.sxtpm-project div.xtpm-keyed {
    margin: 4px 0;
}
.sxtpm-project div.xtpm-keyed span {
    font-style: italic;
    font-weight: bold;
}
.sxtpm-project .xt-dialog-view.preview {
    margin: 6px 0;
}
.sxtpm-project h2.slogxt-preview-title {
    margin: 0 0 10px;
    padding: 5px;
    color: ivory;
    background-color: steelblue;
    font-size: 11px;
}
.sxtpm-project .xtsi-embed-content {
    margin-bottom: 6px;
}
.sxtpm-project .preview article {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 0.909091em;
    padding: 0 5px;
}

.sxtpm-project div.xtsi-embed-header .xtsi-embed-header-img {
    background-image: url("icons/map2.svg");
}
.sxtpm-project article.node.node--view-mode-full.clearfix {
    margin-top: 0;
}

